{% extends "index" %}

{% block content %}

	<div class="">

		<div class="w-[80vw] sm:[70vw] md:w-[45rem] py-[2vh] mx-auto">

            <div class="mx-2">
			    <h1>{{entry.title}}</h1>
            </div>

            {# Matrix field with several options #}
            <div class="md:text-lg flow-root">

			    {% for block in entry.artikelNewsfeed.all() %}

                    {# Heading #}
				    {% if block.type == "heading" %}
					    <h3>{{ block.heading }}</h3>

                    {# Text #}
				    {% elseif block.type == "text" %}
                        <div>
					        {{ block.text|markdown }}
                        </div>

                    {# Image #}
				    {% elseif block.type == "bild" %}
					    {% set image = block.bild.one() %}
					    {% if image %}
                            <div class="my-5">
						        <img class="mx-auto w-3/4 h-auto" src="{{ image.getUrl('bildArtikel') }}" width="{{ image.getWidth('bildArtikel') }}" height="{{ image.getHeight('bildArtikel') }}" alt="{{ image.title }}">
                            </div>
					    {% endif %}
                    
                    {# Button Externer Link #}
				    {% elseif block.type == "externerLink" %}
                        <div class=" my-5 mx-auto">
                            <a class="btn" style="background-color: {{configuration.akzentfarbe2}};" href="{{block.externerLinkURL}}">{{block.externerLinkText}}</a>
                        </div>

                    {# Button Interner Link #}
				    {% elseif block.type == "internerLink" %}
                        <div class=" my-5 mx-auto">
                            <a class="btn" style="background-color: {{configuration.akzentfarbe2}};" href="{{block.internerLinkURL.one().url}}">{{block.internerLinkText}}</a>
                        </div>

				    {% endif %}
			    {% endfor %}

            </div>

			<div class="my-10">
				<a class="link" href="{{siteUrl}}" style="color: {{configuration.akzentfarbe1}}">Zurück zur Startseite</a>
			</div>

		</div>

	</div>

{% endblock %}
