<!DOCTYPE html>
<html lang="en">
	<head>

		{# FAVICON #}
		{# Code from website: https://craftsnippets.com/articles/adding-favicons-to-craft-cms-website?s=s #}
		{# requires global with handle 'favicon' containing asset field with handle 'faviconFile' #}
		{# v2 #}
		{% cache globally %} 
		{% set sizesIcon = [192, 48, 32, 16] %}
		{% set sizesAppleTouch = [180] %}
		{% if favicon is defined and favicon['faviconFile'] is defined and favicon.faviconFile.exists() and favicon.faviconFile.one().kind == 'image' %}
		{# link icon #}
		{% for faviconSize in sizesIcon %}
		{% set icon = favicon.faviconFile.one() %}
		{% set shorterEdge = icon.width > icon.height ? icon.height : icon.width %}
		{% if shorterEdge >= faviconSize %}
		{% set faviconTransform = {
    		width: faviconSize,
    		height: faviconSize,
    		quality: 100,
    		position: 'center-center',
    		format: 'png',
		} %}
		{{tag('link', {
   		rel: 'icon',
   		sizes: faviconSize~'x'~faviconSize,
   		type: 'image/png',
   		href: icon.getUrl(faviconTransform),
		}) }}
		{% endif %}
		{% endfor %}
		{# link touch icon #}
		{% for faviconSize in sizesAppleTouch %}
		{% set icon = favicon.faviconFile.one() %}
		{% set shorterEdge = icon.width > icon.height ? icon.height : icon.width %}
		{% if shorterEdge >= faviconSize %}
		{% set faviconTransform = {
    		width: faviconSize,
    		height: faviconSize,
    		quality: 100,
    		position: 'center-center',
    		format: 'png',
		} %}
		{{tag('link', {
   		rel: 'apple-touch-icon',
   		sizes: faviconSize~'x'~faviconSize,
   		href: icon.getUrl(faviconTransform),
		}) }}
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endcache %}

		{# META TAGS #}
		{% set pageTitle = entry.title|default('Home') ~ " | " ~ seo.HTMLtitle  %}
		{% set pageDescription  = seo.description | default('Informationsportal') %}
		{% set pageAuthor  = seo.author | default('') %}

		<title>{{ pageTitle }}</title>
		<meta name="description" content="{{ pageDescription }}">
		<meta name="author" content="{{ pageAuthor }} mittels Knappe 1A productions CMS.">

		{# RESTLICHE META TAGS #}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./public/styles.css">		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
	</head>

	{# Set the background color of the page #}
	<body style="background-color: {{configuration.hintergrundfarbe}}">

		{# Include the header with the logo and heading #}
		{% include "components/globals/header" ignore missing %}

		{# Include the main content of the page #}
        {% block content %}{% endblock %}

		{# Include the footer #}
		{% include "components/globals/footer" ignore missing %}

	</body>
</html>
