{% set query = craft.entries()
  .section('newsfeed')
  .limit(2) %}

{% paginate query as pageInfo, pageEntries %}

{% if newsfeedTitel.activated %}

    <div>
        <h1 class="flex justify-center">{{newsfeedTitel.titelNewsfeed}}</h1>
    </div>

{% endif %}

{% for eintrag in pageEntries %}

    {% set thumbnail = eintrag.thumbnailNewsfeed.one() %}

    <a href="{{eintrag.url}}">
        <div class="md:grid md:grid-cols-8 md:justify-items-stretch gap-x-2 md:gap-x-6 md:text-lg mb-[4rem] md:my-1">

            <div class="w-full md:col-span-3 md:relative my-2 md:my-5">
                <img src="{{thumbnail.getUrl('newsbildHomepage')}}" alt="Bild zum Thema {{eintrag.title}}" class="object-cover h-full w-full">
            </div>

            <div class="md:col-span-5 my-2 md:my-5">
                <div class="font-bold" style="color: {{configuration.akzentfarbe1}}">{{eintrag.artikeltypNewsfeed}}</div>
                <div class="text-sm font-bold" style="color: {{configuration.akzentfarbe1}}"> Veröffentlicht am {{ eintrag.postDate | date("d.m.Y") }}</div>
                <h3 class="hover:underline mt-0">{{eintrag.title}}</h3>
                <p class="md:min-h-[12rem]">{{eintrag.teaserNewsfeed}}</p>
            </div>

        </div>
    </a>

{% endfor %}

{#  #}
<div class="text-center" style="color: {{configuration.akzentfarbe1}}">
    <p class="md:text-lg">
        Seite {{ pageInfo.currentPage}} / {{ pageInfo.totalPages }}
    </p>
    <p class="my-1 md:my-6" >
        {% if pageInfo.prevUrl %}<a class="link text-center mx-1 md:mx-[10vw]" href="{{ pageInfo.prevUrl }}" style="color: {{configuration.akzentfarbe1}}">Neuere&nbsp;Meldungen</a>{% endif %}
        {% if pageInfo.nextUrl %}<a class="link text-center mx-1 md:mx-[10vw]" href="{{ pageInfo.nextUrl }}" style="color: {{configuration.akzentfarbe1}}">Ältere&nbsp;Meldungen</a>{% endif %}
    </p>
</div>
